*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}