@use "@/styles/base/variables" as *;
@use "sass:color";

.chatList {
  width: 30%;
  min-width: 280px;
  max-width: 400px;
  height: 100%;
  overflow-y: auto;
  background: white;
  border-right: 1px solid #ddd;
}

.chatListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 0.0625em solid #ddd;
}

.addChatBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: $primary-color;
  font-weight: bold;

  &:hover {
    color: color.adjust($primary-color, $lightness: -10%);
  }
}

.chatItems {
  flex: 1;
  overflow-y: auto;
  padding: 0.5em;
}
